* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  list-style-type: none;
  text-align: center; 

}

a {
  text-decoration: none;
  color: #FFF; 
}

html {
  font-size: 20px; 
}

body {
  font-size: 1rem;
  background-color: #001001;
  color: #00CC9C;
  color: #00ff65;

}

  .wrapper {
  display: grid;
  width: 100vw;
  height: 100vh;
  margin: 0;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
 "left middle right"
 "left center right"
 "footer footer footer"; 


 background: rgba(70,181,148,1);
 background: -moz-radial-gradient(center, ellipse cover, rgba(70,181,148,1) 0%, rgba(0,22,8,1) 51%, rgba(0,22,8,1) 100%);
 background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(70,181,148,1)), color-stop(51%, rgba(0,22,8,1)), color-stop(100%, rgba(0,22,8,1)));
 background: -webkit-radial-gradient(center, ellipse cover, rgba(70,181,148,1) 0%, rgba(0,22,8,1) 51%, rgba(0,22,8,1) 100%);
 background: -o-radial-gradient(center, ellipse cover, rgba(70,181,148,1) 0%, rgba(0,22,8,1) 51%, rgba(0,22,8,1) 100%);
 background: -ms-radial-gradient(center, ellipse cover, rgba(70,181,148,1) 0%, rgba(0,22,8,1) 51%, rgba(0,22,8,1) 100%);
 background: radial-gradient(ellipse at center, rgba(70,181,148,1) 0%, rgba(0,22,8,1) 51%, rgba(0,22,8,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46b594', endColorstr='#001608', GradientType=1 );
  }

  .background{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
    bottom: 0;
    background-image: url("../img/backgroundBottom.svg");
    background-position-x: center;
    background-position-y: bottom;
    background-size: contain;
    background-repeat: no-repeat;
  }

.logo{
  grid-area: center;
  margin: 40px;
}
#JVNBig{
  position: relative;
  z-index: 10;
}
#JVNSmall{
  position: relative;
  display: none;
  z-index: 10;
}
.lead{
  grid-area: center;
  text-align: center;
  bottom: 10vh;
  letter-spacing: 10px;
  font-weight: 300;
  margin: 10px 0;
  font-size: .7rem;
}
.left{
  height: 90vh;
  grid-area: left;
  text-align: left;
  padding: 20px;
}
.right{
  height: 90vh;
  grid-area: right;
}

.middle{
  height: 40vh;
  grid-area: middle;
  color: #FF0090;
  padding: 5vh 20vw;

}
.middle h1{
  letter-spacing: -2px;
  font-weight: 300
}
.middle h1 span{
  font-weight: 900;
  font-size: 3rem;
}
#spodek{
  position: absolute;
  margin: 0 auto;
  top: 40vh;
  z-index: 1;
  transition: all 1s ease;
}


@media (max-height: 400px) {
  body {
    transition: all 1s ease; 
  }
  #JVNSmall{
    display: block;
  }
  #JVNBig{
    display:none;
  }
  .middle{
    height: 20vh;
    padding: 5vh;
  }
  .middle h1{
    letter-spacing: -2px;
    font-weight: 300;
    font-size: 1.6rem;
  }
  .middle h1 span{
    font-weight: 900;
    font-size: 2rem;
  }
}





footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
  background-color: #000;
  color: #555;
  grid-area: footer;
  font-size: .5rem;
  padding: 5px 20px;
}

  footer li {
    display: inline;
    padding: 0 4px;
  }
